@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');

body, nav, a, svg circle, svg text, svg path {
    transition-duration: 0.3s;
}

body.dark {
    background-color: #111;
}

body.dark,
body.dark table th,
body.dark table td {
    color: #EEE;
}

body.dark .table-hover tbody tr:hover {
    background-color: #333;
}

body.dark table td {
    border-bottom-color: #555;
}

body, p, span, div, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Mono', monospace;
}

body.dark nav {
    background-color: #222 !important;
}

.content {
    max-width: 1000px;
}

a,
button.btn-link {
    text-decoration: none;
    font-weight: 500;
}

a:hover,
button.btn-link:hover {
    text-decoration: underline;
}

body.dark a,
body.dark button.btn-link {
    color: #4f0 !important;
}

.fs-7 {
    font-size: 0.8rem !important;
}

svg {
    width: 600px;
    max-width: 100%;
    height: auto;
}

svg circle,
svg path {
    stroke: #000 !important;
    fill: #EEE !important;
}

svg text {
    fill: #000 !important;
}

body.dark svg circle,
body.dark svg path {
    stroke: #EEE !important;
    fill: #222 !important;
}

body.dark svg text {
    fill: #EEE !important;
}

.ml-0 {
    margin-left: 0;
}

.pl-0 {
    padding-left: 0;
}
